## EasyEmail Client And Userscript

### Release
- Tag: `{{release.tag}}`
- Channel: `{{release.channel}}`
- Client package: `{{client.packageName}}@{{client.packageVersion}}`
- Server compatibility: `{{client.serverCompatibility}}`
- Userscript version: `{{userscript.version}}`
- Userscript mode: `{{userscript.runtimeMode}}`

### Validation
- Client build: `{{validation.clientBuild}}`
- Client package: `{{validation.clientPackage}}`
- Userscript syntax: `{{validation.userscriptSyntax}}`
- Userscript secret boundary: `{{validation.userscriptSecretBoundary}}`

### Artifacts
{{markdown.artifacts}}
